<ngx-datatable
  class="app-data-table"
  [rows]="rows"
  [columnMode]="'force'"
  [headerHeight]="44"
  [rowHeight]="'auto'"
  [footerHeight]="0"
  [messages]="{ emptyMessage: emptyMessage }"
>
  <ngx-datatable-column
    *ngFor="let col of columns"
    [name]="col.name"
    [prop]="col.prop || ''"
    [sortable]="col.sortable !== false"
  >
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <ng-container *ngIf="col.cellTemplate; else plainValue">
        <ng-container
          *ngTemplateOutlet="col.cellTemplate; context: { row: row, value: value }"
        ></ng-container>
      </ng-container>
      <ng-template #plainValue>{{ value }}</ng-template>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
