<div class="login">
  <form class="login__card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Login CMS</h1>

    <app-input
      label="Username"
      formControlName="username"
      [errorMessage]="fieldError('username')"
      [invalid]="credentialsInvalid"
    ></app-input>
    <app-input
      label="Password"
      type="password"
      formControlName="password"
      [errorMessage]="fieldError('password')"
      [invalid]="credentialsInvalid"
    ></app-input>

    <app-button type="submit" [disabled]="form.invalid || isSubmitting">
      {{ isSubmitting ? 'Logging in...' : 'Login' }}
    </app-button>
  </form>
</div>
